/** Container **/

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
a {
  color: #fff;
  text-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
  font: bold 2rem sans-serif;
  text-decoration: none;
}

/** Loader **/

.loader {
  width: 200px;
  height: 7px;
  background: #fff;
  border: 1px solid rgb(160, 160, 160);
}

.loader-bar {
  width: 0%;
  height: 100%;
  background: #ccc;
  transition: width 1500ms ease-in-out;
}

.loader-bar-loading {
  width: 100%;
}

.yes .loader,
.no .loader,
.reroll .loader {
  display: none;
}

/** Yes/no content **/

.yes-content,
.no-content,
.reroll-content {
  display: none;
  padding: 3rem;
}

.yes {
  background: #70e961;
}

.no {
  background: #e96161;
}

.reroll {
  background: #bdbdbd;
}

.yes .yes-content,
.no .no-content,
.reroll .reroll-content {
  display: block;
}
